
body{background-color: #57402f;
    text-align: center;
    color: #e0d5c8;
    font-size: larger;
    font-family: serif;
}

footer{
    background-color: #3e2e1f;
    color: #e0d5c8;
}

#navbar{
    width: 100%;
    border: black, solid, 0px;
    background-color: #3e2e1f;
    text-align: center;
    display: flex;
    color: #e0d5c8;
}

.icone{
    text-align: center;
    width: 70px;
    margin-right: 80px;
    padding: 10px;
}

.texto_navbar{
    text-align: center;
    margin: 25px 0 0 60px;
    color: #e0d5c8;
}

#texto_inicial{
    padding-top: 100px;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

button{
    cursor: pointer;
}

.slideshow{
    position: relative;
    padding: 50px 0px 238px 0px;
}

.slides{
    height: 100%;
    color: #fff;
}

.slide{
    width: 100%;
    height: 100%;

    display: none;
}

.slide[data-active] {
    display: block;
}

.slide img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.previous-button,
.next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 56px;
    height: 56px;
    font-size: 32px;
    font-weight: bold;

    color: #fff;
    background: transparent;
    border: 0;
}

.previous-button{
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.next-button{
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.previous-button:hover,
.next-button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.fade{
    animation-name: fade;
    animation-duration: 1.2s;
}

@keyframes fade{
    from{
        opacity: 0.3;
    }

    to{
        opacity: 1;
    }
}

#sobre{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 100px 300px 100px 300px ;
    background-color: #3e2e1f ;
    color: #e0d5c8;
}

#img_sobre{
    padding-left: 80px;
}

#imagem_sobre{
    width: 500px;
    border: #6b4f3a, solid, 4px;
    border-radius: 4px;
}

#texto_sobre{
    text-align: left;
    width: 900px;
}

.carrossel{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.container-imagens