
body{background-color: #57402f;
    text-align: center;
    color: #e0d5c8;
    font-size: larger;
    font-family: serif;
}

footer{
    background-color: #3e2e1f;
    color: #e0d5c8;
    padding: 10px 0 10px 0;
}

#navbar{
    width: 100%;
    border: black, solid, 0px;
    background-color: #3e2e1f;
    text-align: center;
    display: flex;
    color: #e0d5c8;
}

.icone{
    text-align: center;
    width: 70px;
    margin-right: 80px;
    padding: 10px;
}

.texto_navbar{
    text-align: center;
    margin: 25px 0 0 60px;
    color: #e0d5c8;
    text-decoration: none;
}

#texto_inicial{
    padding-top: 100px;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

button{
    cursor: pointer;
}

.slideshow{
    position: relative;
    padding: 50px 0px 238px 0px;
}

.slides{
    height: 100%;
    color: #fff;
}

.slide{
    width: 100%;
    height: 100%;

    display: none;
}

.slide[data-active] {
    display: block;
}

.slide img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.previous-button,
.next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 56px;
    height: 56px;
    font-size: 32px;
    font-weight: bold;

    color: #fff;
    background: transparent;
    border: 0;
}

.previous-button{
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.next-button{
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.previous-button:hover,
.next-button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.fade{
    animation-name: fade;
    animation-duration: 1.2s;
}

@keyframes fade{
    from{
        opacity: 0.3;
    }

    to{
        opacity: 1;
    }
}

#sobre{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 100px 300px 100px 300px ;
    background-color: #3e2e1f ;
    color: #e0d5c8;
}

#img_sobre{
    padding-left: 80px;
}

#imagem_sobre{
    width: 500px;
    border: #6b4f3a, solid, 4px;
    border-radius: 4px;
}

#texto_sobre{
    text-align: left;
    width: 900px;
}

#space{
    padding: 50px 0 50px 0 ;
}

.carrossel{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    background-color: rgb(221, 221, 221);
}

.border_top{
    border: ;
    border-radius: 5px;
    border-top: rgb(221, 221, 221), solid, 5px;
}

.container{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    gap: 10px;
    padding-bottom: 10px;
}

.container img{
    scroll-snap-align: start;
    flex: 0 0 calc(50% - 5px);
    max-width: 100%;
}

.containe{
    visibility: hidden;
    opacity: 0;
}

.containe:target{
    visibility: visible;
    opacity: 1;
}

.btn{
    width: 100px;
    display: block;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.containe{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}

.modalcorpo{
    color: #fff;
    padding: 4px;
    border-radius: 15px;
}

.modalcorpo p{
    padding: 10px;
    font-size: 20px;
}

.fechar{
    font-size: 15px;
    position: absolute;
    right: 0px;
    top: 20px;
    padding: 4.5px;
    text-decoration: none;
    color: #fff;
}

.contato{
    font-size: 15px;
}

#formulario{
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
fieldset{
    border: #fff solid 3px;
    border-radius: 3px;
}
legend{
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    color: #3e2e1f;
    border-radius: 8px;
}
.inputBox{
    position: relative;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
    padding-left: 25px;
}
.inputUser:focus ~ .labelInput, 
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #fff;
}

#datanasc{
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: #fff;
}
