
body{background-color: rgba(88, 60, 0, 0.815);
    text-align: center;
}

#navbar{
    border-radius: 2px;
    border: solid;
    width: 100%;
    background-color: rgba(63, 43, 0, 0.815);
    text-align: center;
    display: flex;
}

.icone{
    text-align: center;
    width: 100px;
    margin-right: 80px;
    padding: 10px;
}

.texto_navbar{
    text-align: center;
    margin: 35px 0 0 60px;
    color: #fff;
}

#texto_inicial{
    padding-top: 100px;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

button{
    cursor: pointer;
}

.slideshow{
    position: relative;
}

.slides{
    height: 100%;

}

.slide{
    width: 100%;
    height: 100%;

    display: none;
}

.slide[data-active] {
    display: block;
}

.slide img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.previous-button,
.next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 56px;
    height: 56px;
    font-size: 32px;
    font-weight: bold;

    color: #fff;
    background: transparent;
    border: 0;
}

.previous-button{
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.next-button{
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.previous-button:hover,
.next-button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.fade{
    animation-name: fade;
    animation-duration: 1.2s;
}

@keyframes fade{
    from{
        opacity: 0.3;
    }

    to{
        opacity: 1;
    }
}

#sobre{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 200px;
}

#imagem_sobre{
    width: 500px;
    padding-left: 80px;
}

#texto_sobre{
    text-align: left;
    width: 900px;
}